
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 100;
}

div{
    width: 1500px;
}

h1 {
    font-family: Broadway, serif;
    font-size: 200px;
    letter-spacing: 70px;
    font-weighti: bold;
    color: maroon;

}

h2 {
    font-family: Broadway, serif;
    font-size: 28px;
    letter-spacing: 10px;
    font-weighti: bold;
    text-align: center;

}

h3  {
    font-family: Broadw ay, serif;
    font-size: 80px;
    letter-spacing: 5px;
    color: dodgerblue;
    text-align: center;
}